body
{
    background-color:#1d1f21;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin:0 !important;
}
/* Hover menu animation */
.navbar:hover .nav-link:not(:hover){
    color: #003977;
  }

.nav-item2
{
  position: relative !important;
  overflow: hidden !important;

  will-change: color !important;
  transition: color .25 ease-out !important;  
}

.nav-item2::before
{
  left: 50% !important;
  transform: translateX(-50%) !important; 
}

.nav-item2::after
{
  right: 50% !important;
  transform: translateX(50%) !important; 
}

.nav-item2:hover::before, 
.nav-item2:hover::after
{
  width: 100% !important;
  transition-duration: .2s !important;
}
/* End hover menu animation */

.bg-babyblue {
    background: #007bff;
}

.managment {
    margin-right: 250px;
}

.level-design {
    margin-left: 250px;
}

.coding {
    margin-right: 250px;
}

.graphic {
    margin-left: 250px;
}

.marketing {
    margin-right: 250px;
}

.sound {
    margin-left: 250px;
}

.container
{
    width: 100%;
}

.header
{
    width: 100%;
    padding: 40px 0;
    margin-top: 50px;
}

.logo
{
    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

.content
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}

.footer
{
    text-align: center;
    background-color: #222222;
    padding: 30px;
}

@media (max-width: 1080px) {
  body {
    padding: 15px;
  }
}

p.beattr
{
    text-align:center;
}

#btr
{
    text-decoration:none;
    color:aqua;
}

#m
{
    text-align: center;
    font-size: 40px;
    font-weight:bold;
}

#mm
{
    font-size:25px;
    text-align:center;
}

#c
{
    text-align: center;
    font-size: 40px;
    font-weight:bold;
}

#cm
{
    font-size:25px;
    text-align:center;
}

#g
{
    text-align: center;
    font-size: 40px;
    font-weight:bold;
}

#gm
{
    font-size:25px;
    text-align:center;
}

#t
{
    text-align: center;
    font-size: 40px;
    font-weight:bold;
}

#tm
{
    font-size:25px;
    text-align:center;
}

#s
{
    text-align: center;
    font-size: 40px;
    font-weight:bold;
}

#sm
{
    font-size:25px;
    text-align:center;
}

#l
{
    text-align: center;
    font-size: 40px;
    font-weight:bold;
}

#lm
{
    font-size:25px;
    text-align:center;
}

#about
{
    text-align: center;
}

#ds
{
    text-decoration: none;
    color:aqua;
}

.dropdown-item:hover {
    background: #d9534f;
    color: white;
}

#asec
{
    text-align: center;
}

#aboutrein
{
    text-align:left;
    font-weight: bold;
}
